extends layout

block content
  h1= title
  div(class="homepage-cover")
    h1 Finding food has never been easier!
    img(src="homepage-img.jpg")
  ul(class="homepage-links")
    li: a(href="/search") I'm looking for something to eat!
    li: a(href="/add") I want to help others find amazing food!
